<!DOCTYPE html>
<html>
  <head>
    <!--Meta-->
    <title>HEALTHY TRAVELER RETREATS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name= "keywords" content="yoga, retreats, yoga retreats, healthy travel, vacation, international retreats, wellness, health"/>
    <meta name= "description" content="Healthy Traveler Retreats is a travel company specializing in group tours for the health conscious traveler. Current Bookings: Thailand, Greece, Peru, Italy."/>

    <!-- Stylesheets-->
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.3.7/gridlex.min.css">
    <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Lato:300" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
    <link rel="stylesheet" href="styles/style.css"/>

<!--Scripts-->
    <script src="https://use.fontawesome.com/080a891bdb.js"></script>
  </head>
  <body>
    <header id="home"> <!--this is where the header starts-->

        <div class="nav-background">
        <div class="grid">
          <div class="col-2">
            <img src="images/logo.png" alt="htr logo"/>
          </div>
          <div class="col-8">
            <h1>HEALTHY TRAVELER RETREATS</h1>
          </div>
          <div class="col-2">
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
            <form action="//healthytravelerretreats.us16.list-manage.com/subscribe/post?u=0e93a75156d403b4dd15b9500&amp;id=5f3401d8c2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
            	<label for="mce-EMAIL"><p>NEWS & UPDATES</p></label>
            	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0e93a75156d403b4dd15b9500_5f3401d8c2" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
                </div>
              </form>
            </div><!--End mc_embed_signup-->
          </div>
        </div>

<hr/>

<!--Nav Starts Here-->
<nav class="grid">
    <div class="col-10 no-padding">
          <a href="#retreats">Reatreats</a>
          |
          <a href="#customtrips">Custom Trips</a>
          |
          <a href="#about">About</a>
          |
          <a href="contact">Contact</a>
          |
          <a href="localfamily">Local Family</a>
          |
          <a href="shop">Shop</a>
    </div>
<!--Social Media links-->
    <div class="col-2 right no-padding">
          <a href="https://www.facebook.com/healthy.traveler.retreats/"> <i class="fa fa-facebook-square" aria-hidden="true"></i>

      </a>
          <a href="https://www.instagram.com/healthy.traveler.retreats/"><i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
          <a href="https://www.pinterest.com/healthytravelerretreats/">
          <i class="fa fa-pinterest-square" aria-hidden="true"></i>
      </a>
    </div>
</nav>
</div>

    <h2 id="typed">

    </h2>
<div class="bounce">

      <a href="#second-section"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
</div>
    </header>
    <!--This is where the header ends-->
