/*General Styles*/
*{
  box-sizing: border-box;
  padding: 0;
  max-width: 100%;
  margin:0;

  /*border:1px solid black;*/
}

[class*=grid-], [class*=grid_], [class~=grid] {
  margin:0%;
}

body{
  /*Font Family for entire webpage*/

}

.nav-background, section, footer{
  padding: 3%;
}

h1, h2, h3, h4, h5, h6{
  /*Font Family for Header*/
  font-family: 'Open Sans Condensed', sans-serif;
}
p{
  font-family: 'Bellefair', serif;
}
a{
  text-decoration: none; /*takes underline off anchor links*/

}

/*helper*/

.right{
  text-align: right;
}

.no-padding{
  padding: 0% !important
}

/*Header Styles*/
header{
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url("http://www.telegraph.co.uk/content/dam/Travel/Tours/Machu%20Picchu-xlarge.jpg");
  min-height: 100vh;

}

.nav-background{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
 }


header img{
  display: block;
    margin: auto;
    width: 100px;
}
header nav{
  display:flex;
  align-content:space-between;

}

h1,h2,h3 {text-align: center}
h1{
  font-size: 60px;
  margin-top: 1%;
  text-align: center;
}

header a{
  color: black;
}

/*Section Two Retreats Starts*/
.two section{
  padding: 20%;
r
}
.grid-retreats{
  text-align: center;
  max-width: 1000px;
}




/*Section Three Partners Starts*/


/*section four contact*/

input,textarea,button{
  display: block;
  width: 50%;
  margin: 1% auto;
  border: 0;

}

footer button{
  color: #f4f4f4;
  background-color: #66747d;
  width: 20%;
}

input, textarea{
  border-bottom: 2px solid black;
}

footer {
  padding: 3%;
}

footer nav {
  text-align: center;
  padding: 70px;
}

footer a {
  padding: 20px;
}



/*footer styles*/








/*RESPONSIVE STYLES*/
